
.App {
    max-width: 400px;
    width: 100vw;
    margin: 0 auto;
}

.greeting__section--date {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero__banner {
    background: url("/src/images/ben-eleora-huey-lin.JPG") no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0.75rem;
    border-radius: 12px;
    height: 50vh;
    box-shadow: 5px 5px 15px lightgray;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting__section {
    display:flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.greeting__section--greeting {
    font-size: 0.75rem;
}

.baby__age {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
}

.baby__age--weeks, .baby__age--days {
    display:flex;
    flex-direction: column;
}

.baby__age--days {
    align-items: flex-end;
}

.age--weeks--description, .age--days--description {
    font-size: 0.75rem;
}
